SUPABASE_PROJECT_ID="mqzxufucfnzohhhysxcq"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_7krH2BvREWDqmgmh_cHFtQ_KfHEK9_M"
SUPABASE_URL="https://mqzxufucfnzohhhysxcq.supabase.co"
VITE_SUPABASE_PROJECT_ID="mqzxufucfnzohhhysxcq"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_7krH2BvREWDqmgmh_cHFtQ_KfHEK9_M"
VITE_SUPABASE_URL="https://mqzxufucfnzohhhysxcq.supabase.co"
